atomicwrites
elasticsearch>=6.2.0,<7.0
flake8
flake8-tidy-imports
httplib2
mock
more-itertools
mypy
neo4j-driver>=1.7.2,<4.0
neotime
pluggy
py
pyhocon
pyparsing
pytest
pytest-cov
pytest-mock
pytz
requests
retrying
six
sqlalchemy
statsd
typing
unicodecsv
unidecode
wheel
amundsen-databuilder==3.2.1

